@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply relative py-1 md:px-[1px];
  }

  .link::after {
    content: "";
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;

    @apply absolute bottom-0 left-0 h-[2px]  w-full bg-Peach;
  }

  .link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .active::after {
    transform: scaleX(1);
  }

  .active {
    @apply font-bold;
  }
}

@layer utilities {
  .magic {
    @apply bg-[#1d1c1e85];
    backdrop-filter: blur(20px);
  }

  .sectionX {
    @apply px-6 md:px-10;
  }

  .sectionInnerX {
    @apply px-6 md:px-[58px] lg:px-24;
  }

  .sectionInnerY {
    @apply py-16 md:py-[72px];
  }

  .sectionY {
    @apply py-[60px] lg:py-20;
  }

  .headerY {
    @apply pb-[60px] pt-[30px] lg:pb-20;
  }
}
